body {
    background-image: url("../images/brown\ background.jpeg");
    color: white;
    height:100%;
}

#submit-btn {
     background-color: rgb(30, 111, 204);
     color: white;
}
h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Permanent Marker',
        cursive;
}
footer a {
    
    box-sizing: content-box;
    min-width: 210px;
}

.btn {
    background-color: rgb(30, 111, 204);
    color: white;
}

.table {
    background-color: rgb(30, 111, 204);
    color: white;
}
ul {
    color: white;
    list-style-type: none;
}
.custom-select{
    width:30%;
}
.display_none{
    display: none;  
}
.jumbotron {
    background-image: url("../images/restaurant.jpg");     
    border-bottom: 2px solid white;
}
.modal-backdrop
{
    opacity:0.4 !important;
}
.restImg{
    height:200px;width:auto;
}
#pageFooter {
    background-image: url("../images/restaurant.jpg");
    border-top: 2px solid white;
}
#restaurants-div{
    border:solid 1px black;
    display:block;    
    height:250px;
    margin-bottom: 150px;
    overflow-y: auto;    
    padding:0;
}

/*  */
#map{
    height: 300px;
    width: 300px;
}
/*  */

/* Small devices (portrait tablets and large phones, 640px) */
@media only screen and (max-width: 640px) {
    .jumbotron {
        position: static;

    }

    #area {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px ) */
@media only screen and (max-width: 768px) {

    #area {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 980px) */
@media only screen and (max-width: 980px) {

    #area {
        width: 100%;
    }

}

@media screen and (max-width:668px) {
    ul {
        padding-left: 1px;
    }
    .custom-select{
        width:80%;
    }
    .display-5 {
        font-size: 10px;
    }
    #pageFooter{
        position: relative;
    }
    #restaurants-div{
        border:solid 0px black;
        display:block;
        font-size: 15px;       
        height:auto;
        margin-bottom: 150px;
        overflow-y: auto;        
        padding:0;    
    }
}